In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [4]:
# cj cup

preds_path = r"C:\Users\mikej\Downloads\the-cj-cup-byron-nelson_course-adjustment-model.csv"

win_path = r"C:\Users\mikej\Downloads\pga_historical_outrights (23).csv"
top5_path = r"C:\Users\mikej\Downloads\pga_historical_outrights (24).csv"
top10_path = r"C:\Users\mikej\Downloads\pga_historical_outrights (25).csv"
top20_path = r"C:\Users\mikej\Downloads\pga_historical_outrights (26).csv"

In [5]:
def in_top20(a):
    if int(a) > 20:
        return "loss"
    return "win"

def in_top10(a):
    if int(a) > 10:
        return "loss"
    return "win"

def in_top5(a):
    if int(a) > 5:
        return "loss"
    return "win"

def in_win(a):
    if int(a) > 1:
        return "loss"
    return "win"

In [ ]:
# rbc heritage paths

    # read in datagolf
top20 = pd.read_csv(r"C:\Users\mikej\Downloads\pga_historical_outrights (13).csv")
top10 = pd.read_csv(r"C:\Users\mikej\Downloads\pga_historical_outrights (12).csv")
top5 = pd.read_csv(r"C:\Users\mikej\Downloads\pga_historical_outrights (11).csv")
win = pd.read_csv(r"C:\Users\mikej\Downloads\pga_historical_outrights (10).csv")

In [6]:
# cj cup

preds_path = r"C:\Users\mikej\Downloads\the-cj-cup-byron-nelson_course-adjustment-model.csv"

win_path = r"C:\Users\mikej\Downloads\pga_historical_outrights (23).csv"
top5_path = r"C:\Users\mikej\Downloads\pga_historical_outrights (24).csv"
top10_path = r"C:\Users\mikej\Downloads\pga_historical_outrights (25).csv"
top20_path = r"C:\Users\mikej\Downloads\pga_historical_outrights (26).csv"

    # read in datagolf
top20 = pd.read_csv(top20_path)
top10 = pd.read_csv(top10_path)
top5 = pd.read_csv(top5_path)
win = pd.read_csv(win_path)

In [30]:
def get_dg_outcomes_table(preds_path,win_path,top5_path,top10_path,top20_path):

    # read in datagolf
    top20 = pd.read_csv(top20_path)
    top10 = pd.read_csv(top10_path)
    top5 = pd.read_csv(top5_path)
    win = pd.read_csv(win_path)
    
    # made dataframe of book odds
    odds = pd.concat([win,top5,top10,top20])
    odds = odds[['player_name','market','open_odds']].pivot(index='player_name',columns='market',values='open_odds').reset_index().round(2)
    odds.columns = ['player','odds_20','odds_10','odds_5','odds_win']
    
    # make dataframe of tournament outcomes (leaderboard)
    outcomes = top20[['player_name','outcome']]
    outcomes['outcome'] = outcomes['outcome'].str.strip("T")
    outcomes.columns = ['player','outcome']

    # make dataframe of datagolf predicted odds
    preds = pd.read_csv(preds_path)
    preds = preds[['player_name','top_20','top_10','top_5','win']].round(2)
    preds.columns = ['player','pred_20','pred_10','pred_5','pred_win']

    # merge books and datagolf
    df = pd.merge(odds,preds)[['player','odds_20','pred_20','odds_10','pred_10','odds_5','pred_5','odds_win','pred_win']]

    # add columns for difference in books odds and dg prediciton
    df['diff_20'] = (df['pred_20'] - df['odds_20']) / df['odds_20']
    df['diff_10'] = (df['pred_10'] - df['odds_10']) / df['odds_10']
    df['diff_5'] = (df['pred_5'] - df['odds_5']) / df['odds_5']
    df['diff_win'] = (df['pred_win'] - df['odds_win']) / df['odds_win']

    # merge in actual outcomes
    df = df.merge(outcomes,on='player')
    df = df.convert_dtypes()
    # df['outcome'] = df['outcome'].astype(int)

    # add outcome 'bools'
    # df['bool_20'] = df['outcome'].apply(in_top20)
    # df['bool_10'] = df['outcome'].apply(in_top10)
    # df['bool_5'] = df['outcome'].apply(in_top5)
    # df['bool_win'] = df['outcome'].apply(in_win)

    return df

In [31]:
df = get_dg_outcomes_table(preds_path,win_path,top5_path,top10_path,top20_path)

C:\Users\mikej\AppData\Local\Temp\ipykernel_20780\1414055155.py:16: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [32]:
df.sort_values('odds_win',ascending=False)

,player,odds_20,pred_20,odds_10,pred_10,odds_5,pred_5,odds_win,pred_win,diff_20,diff_10,diff_5,diff_win,outcome
47,"Hale Jr, Blaine",251.0,0.0,76.0,0.0,401.0,0.0,2501,0.0,-1.0,-1.0,-1.0,-1.0,CU
142,"Watney, Nick",131.0,0.0,41.0,0.0,401.0,0.0,2501,0.0,-1.0,-1.0,-1.0,-1.0,CU
103,"Pereda, Raul",101.0,0.01,31.0,0.0,301.0,0.0,1501,0.0,-0.999901,-1.0,-1.0,-1.0,CU
78,"Limbhasut, KK",81.0,0.01,26.0,0.0,251.0,0.0,1501,0.0,-0.999877,-1.0,-1.0,-1.0,CU
131,"Taylor, Ben",81.0,0.01,26.0,0.0,251.0,0.0,1001,0.0,-0.999877,-1.0,-1.0,-1.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,"Scott, Adam",4.0,0.34,2.4,0.21,7.0,0.12,26,0.03,-0.915,-0.9125,-0.982857,-0.998846,30
94,"Noren, Alex",4.0,0.39,2.4,0.24,7.0,0.14,26,0.04,-0.9025,-0.9,-0.98,-0.998462,3
65,"Kim, Si Woo",3.6,0.48,2.25,0.32,6.0,0.2,23,0.06,-0.866667,-0.857778,-0.966667,-0.997391,13
26,"Day, Jason",3.3,0.35,2.15,0.22,5.5,0.13,19,0.03,-0.893939,-0.897674,-0.976364,-0.998421,59
124,"Spieth, Jordan",2.9,0.38,1.95,0.24,4.6,0.14,15,0.04,-0.868966,-0.876923,-0.969565,-0.997333,CU

In [39]:
px.bar(df.sort_values(by='pred_20',ascending=False),
       x='player',
       y='pred_20',
       color='diff_win')

In [ ]:
top20 = pd.read_csv(r"C:\Users\mikej\Downloads\pga_historical_outrights (13).csv")
top10 = pd.read_csv(r"C:\Users\mikej\Downloads\pga_historical_outrights (12).csv")
top5 = pd.read_csv(r"C:\Users\mikej\Downloads\pga_historical_outrights (11).csv")
win = pd.read_csv(r"C:\Users\mikej\Downloads\pga_historical_outrights (10).csv")

In [18]:
top20

,year,season,event_name,event_id,event_completed,book,market,player_name,dg_id,open_odds,open_time,close_odds,close_time,outcome,bet_outcome_text,bet_outcome_numeric
0,2024,2024,THE CJ CUP Byron Nelson,19,2024-05-05,draftkings,top_20,"Spieth, Jordan",14636,1.95,2024-04-29 13:40,1.95,2024-05-01 23:56,CU,loss,0.0
1,2024,2024,THE CJ CUP Byron Nelson,19,2024-05-05,draftkings,top_20,"Kim, Si Woo",14609,2.25,2024-04-29 13:40,2.00,2024-05-01 23:56,13,paid in full,1.0
2,2024,2024,THE CJ CUP Byron Nelson,19,2024-05-05,draftkings,top_20,"Day, Jason",9771,2.15,2024-04-29 13:40,2.20,2024-05-01 23:56,59,loss,0.0
3,2024,2024,THE CJ CUP Byron Nelson,19,2024-05-05,draftkings,top_20,"Scott, Adam",6430,2.40,2024-04-29 13:40,2.30,2024-05-01 23:56,30,loss,0.0
4,2024,2024,THE CJ CUP Byron Nelson,19,2024-05-05,draftkings,top_20,"Noren, Alex",10419,2.40,2024-04-29 13:40,2.30,2024-05-01 23:56,3,paid in full,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,2024,2024,THE CJ CUP Byron Nelson,19,2024-05-05,draftkings,top_20,"Taylor, Ben",19948,26.00,2024-04-29 13:40,26.00,2024-05-01 23:56,CU,loss,0.0
148,2024,2024,THE CJ CUP Byron Nelson,19,2024-05-05,draftkings,top_20,"Limbhasut, KK",22904,26.00,2024-04-30 08:50,36.00,2024-05-01 23:56,CU,loss,0.0
149,2024,2024,THE CJ CUP Byron Nelson,19,2024-05-05,draftkings,top_20,"Hale Jr, Blaine",29348,76.00,2024-04-29 13:40,46.00,2024-05-01 23:56,CU,loss,0.0
150,2024,2024,THE CJ CUP Byron Nelson,19,2024-05-05,draftkings,top_20,"Pereda, Raul",19620,31.00,2024-04-29 13:40,51.00,2024-05-01 23:56,CU,loss,0.0
151,2024,2024,THE CJ CUP Byron Nelson,19,2024-05-05,draftkings,top_20,"Watney, Nick",7955,41.00,2024-04-30 15:41,81.00,2024-05-01 23:56,CU,loss,0.0

In [16]:
top20['outcome'] = top20['outcome'].str.strip("T")

outcomes = top20[['player_name','outcome']]
outcomes.columns = ['player','outcome']

In [17]:
outcomes#.head(2)

              player outcome
0     Spieth, Jordan      CU
1        Kim, Si Woo      13
2         Day, Jason      59
3        Scott, Adam      30
4        Noren, Alex       3
..               ...     ...
147      Taylor, Ben      CU
148    Limbhasut, KK      CU
149  Hale Jr, Blaine      CU
150     Pereda, Raul      CU
151     Watney, Nick      CU

[152 rows x 2 columns]

In [19]:
odds = pd.concat([win,top5,top10,top20])

odds = odds[['player_name','market','open_odds']].pivot(index='player_name',columns='market',values='open_odds').reset_index().round(2)

odds.columns = ['player','odds_20','odds_10','odds_5','odds_win']

odds = odds[['player','odds_20','odds_10','odds_5','odds_win']]

odds#.head(2)

               player  odds_20  odds_10  odds_5  odds_win
0    Alexander, Tyson     23.0     10.0    61.0     301.0
1      An, Byeong Hun      4.5      2.7     8.0      31.0
2     Baddeley, Aaron     17.0      7.5    41.0     201.0
3        Barjon, Paul     26.0     11.0    71.0     351.0
4        Barnes, Erik     21.0      9.0    51.0     301.0
..                ...      ...      ...     ...       ...
147         Wu, Dylan     17.0      7.0    36.0     201.0
148     Xiong, Norman     31.0     12.0    81.0     401.0
149     Young, Carson     17.0      7.5    41.0     201.0
150         Yu, Kevin      8.0      4.2    15.0      71.0
151        Yuan, Carl     12.0      6.0    26.0     131.0

[152 rows x 5 columns]

In [21]:
preds = pd.read_csv(r"C:\Users\mikej\Downloads\the-cj-cup-byron-nelson_course-adjustment-model.csv")

preds = preds[['player_name','top_20','top_10','top_5','win']].round(2)

preds.columns = ['player','pred_20','pred_10','pred_5','pred_win']

preds#.head(2)

              player  pred_20  pred_10  pred_5  pred_win
0        Kim, Si Woo     0.48     0.32    0.20      0.06
1     Spieth, Jordan     0.38     0.24    0.14      0.04
2        Noren, Alex     0.39     0.24    0.14      0.04
3       Lee, Min Woo     0.37     0.23    0.14      0.04
4     An, Byeong Hun     0.36     0.22    0.13      0.03
..               ...      ...      ...     ...       ...
149  Hale Jr, Blaine     0.00     0.00    0.00      0.00
150    Kisner, Kevin     0.01     0.00    0.00      0.00
151   Nyfjall, David     0.00     0.00    0.00      0.00
152     Watney, Nick     0.00     0.00    0.00      0.00
153        Kim, Kris     0.00     0.00    0.00      0.00

[154 rows x 5 columns]

In [22]:
df = pd.merge(odds,preds)[['player','odds_20','pred_20','odds_10','pred_10','odds_5','pred_5','odds_win','pred_win']]

In [23]:
df#.head(2)

,player,odds_20,pred_20,odds_10,pred_10,odds_5,pred_5,odds_win,pred_win
0,"Alexander, Tyson",23.0,0.08,10.0,0.03,61.0,0.02,301.0,0.00
1,"An, Byeong Hun",4.5,0.36,2.7,0.22,8.0,0.13,31.0,0.03
2,"Baddeley, Aaron",17.0,0.08,7.5,0.03,41.0,0.01,201.0,0.00
3,"Barjon, Paul",26.0,0.03,11.0,0.01,71.0,0.00,351.0,0.00
4,"Barnes, Erik",21.0,0.11,9.0,0.05,51.0,0.02,301.0,0.00
...,...,...,...,...,...,...,...,...,...
147,"Wu, Dylan",17.0,0.12,7.0,0.06,36.0,0.03,201.0,0.00
148,"Xiong, Norman",31.0,0.05,12.0,0.02,81.0,0.01,401.0,0.00
149,"Young, Carson",17.0,0.12,7.5,0.05,41.0,0.02,201.0,0.00
150,"Yu, Kevin",8.0,0.18,4.2,0.09,15.0,0.05,71.0,0.01
151,"Yuan, Carl",12.0,0.11,6.0,0.05,26.0,0.02,131.0,0.00

In [24]:
df['diff_20'] = df['pred_20'] - df['odds_20']
df['diff_10'] = df['pred_10'] - df['odds_10']
df['diff_5'] = df['pred_5'] - df['odds_5']
df['diff_win'] = df['pred_win'] - df['odds_win']

In [25]:
df

,player,odds_20,pred_20,odds_10,pred_10,odds_5,pred_5,odds_win,pred_win,diff_20,diff_10,diff_5,diff_win
0,"Alexander, Tyson",23.0,0.08,10.0,0.03,61.0,0.02,301.0,0.00,-22.92,-9.97,-60.98,-301.00
1,"An, Byeong Hun",4.5,0.36,2.7,0.22,8.0,0.13,31.0,0.03,-4.14,-2.48,-7.87,-30.97
2,"Baddeley, Aaron",17.0,0.08,7.5,0.03,41.0,0.01,201.0,0.00,-16.92,-7.47,-40.99,-201.00
3,"Barjon, Paul",26.0,0.03,11.0,0.01,71.0,0.00,351.0,0.00,-25.97,-10.99,-71.00,-351.00
4,"Barnes, Erik",21.0,0.11,9.0,0.05,51.0,0.02,301.0,0.00,-20.89,-8.95,-50.98,-301.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,"Wu, Dylan",17.0,0.12,7.0,0.06,36.0,0.03,201.0,0.00,-16.88,-6.94,-35.97,-201.00
148,"Xiong, Norman",31.0,0.05,12.0,0.02,81.0,0.01,401.0,0.00,-30.95,-11.98,-80.99,-401.00
149,"Young, Carson",17.0,0.12,7.5,0.05,41.0,0.02,201.0,0.00,-16.88,-7.45,-40.98,-201.00
150,"Yu, Kevin",8.0,0.18,4.2,0.09,15.0,0.05,71.0,0.01,-7.82,-4.11,-14.95,-70.99
151,"Yuan, Carl",12.0,0.11,6.0,0.05,26.0,0.02,131.0,0.00,-11.89,-5.95,-25.98,-131.00

In [26]:
df = df.merge(outcomes,on='player')
df

,player,odds_20,pred_20,odds_10,pred_10,odds_5,pred_5,odds_win,pred_win,diff_20,diff_10,diff_5,diff_win,outcome
0,"Alexander, Tyson",23.0,0.08,10.0,0.03,61.0,0.02,301.0,0.00,-22.92,-9.97,-60.98,-301.00,52
1,"An, Byeong Hun",4.5,0.36,2.7,0.22,8.0,0.13,31.0,0.03,-4.14,-2.48,-7.87,-30.97,4
2,"Baddeley, Aaron",17.0,0.08,7.5,0.03,41.0,0.01,201.0,0.00,-16.92,-7.47,-40.99,-201.00,41
3,"Barjon, Paul",26.0,0.03,11.0,0.01,71.0,0.00,351.0,0.00,-25.97,-10.99,-71.00,-351.00,CU
4,"Barnes, Erik",21.0,0.11,9.0,0.05,51.0,0.02,301.0,0.00,-20.89,-8.95,-50.98,-301.00,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,"Wu, Dylan",17.0,0.12,7.0,0.06,36.0,0.03,201.0,0.00,-16.88,-6.94,-35.97,-201.00,30
148,"Xiong, Norman",31.0,0.05,12.0,0.02,81.0,0.01,401.0,0.00,-30.95,-11.98,-80.99,-401.00,WD
149,"Young, Carson",17.0,0.12,7.5,0.05,41.0,0.02,201.0,0.00,-16.88,-7.45,-40.98,-201.00,30
150,"Yu, Kevin",8.0,0.18,4.2,0.09,15.0,0.05,71.0,0.01,-7.82,-4.11,-14.95,-70.99,CU
151,"Yuan, Carl",12.0,0.11,6.0,0.05,26.0,0.02,131.0,0.00,-11.89,-5.95,-25.98,-131.00,CU

In [27]:
def in_top20(a):
    if a > 20:
        return "loss"
    return "win"

def in_top10(a):
    if a > 10:
        return "loss"
    return "win"

def in_top5(a):
    if a > 5:
        return "loss"
    return "win"

def in_win(a):
    if a > 1:
        return "loss"
    return "win"

In [29]:
df['outcome'] = df['outcome'].astype(int)

df['outcome_bool_20'] = df['outcome'].apply(in_top20)
df['outcome_bool_10'] = df['outcome'].apply(in_top10)
df['outcome_bool_5'] = df['outcome'].apply(in_top5)
df['outcome_bool_win'] = df['outcome'].apply(in_win)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
df

In [ ]:
top20s = df[['player','outcome','odds_20','pred_20','diff_20','outcome_bool_20']].sort_values('odds_20',ascending=False)
# top10s = df[['player','odds_10','pred_10','diff_10','outcome']].sort_values('odds_10',ascending=False)
# top5s = df[['player','odds_5','pred_5','diff_5','outcome']].sort_values('odds_5',ascending=False)
# wins = df[['player','odds_win','pred_win','diff_win','outcome']].sort_values('odds_win',ascending=False)
top20s[:20]

In [ ]:

px.scatter(df,
           x='odds_20',
           y='pred_20',
           hover_name='player',
           color='outcome_bool_20',
           color_discrete_sequence=px.colors.qualitative.Safe,
           trendline = 'ols',trendline_scope='overall',trendline_color_override = 'darkslategrey',
           width=800,
           height=700,
           size='diff_20')#.add_shape(type="line", x0=0, y0=0, x1=1, y1=1)

In [ ]:

px.scatter(df,
           x='diff_10',
           y='pred_10',
           hover_name='player',
           color='outcome_bool_10',
           color_discrete_sequence=px.colors.qualitative.Safe,
           trendline = 'ols',trendline_scope='overall',trendline_color_override = 'darkslategrey',
           width=800,
           height=700,
           size='odds_10')#.add_shape(type="line", x0=0, y0=0, x1=1, y1=1)

In [ ]:


px.scatter(df,
           x='diff_5',
           y='pred_5',
           hover_name='player',
           color='outcome_bool_5',
           color_discrete_sequence=px.colors.qualitative.Safe,
           trendline = 'ols',trendline_scope='overall',trendline_color_override = 'darkslategrey',
           width=800,
           height=700,
           size='odds_5')#.add_shape(type="line", x0=0, y0=0, x1=1, y1=1)

In [ ]:


# top5s['outcome'] = top5s['outcome'].astype('int')

px.scatter(df,
           x='diff_win',
           y='pred_win',
           hover_name='player',
           color='outcome_bool_win',
           color_discrete_sequence=px.colors.qualitative.Safe,
           trendline = 'ols',trendline_scope='overall',trendline_color_override = 'black',
           width=800,
           height=700,)

In [ ]:
temp = df.sort_values('outcome')

In [ ]:
px.bar(temp.sort_values('outcome'),#,ascending=False),
    x='player',
    y='outcome',
    color='diff_20').add_vline(x='Kim, Si Woo')

In [ ]:
df

In [ ]:
px.scatter(df,
           x='odds_20',
           y='pred_20',
           color='outcome_bool_20',
           trendline='ols',trendline_scope='overall')

In [ ]:
df.diff_20.hist()