In [1]:
import pandas as pd
import numpy as np

In [5]:

def get_our_plays(our_plays):
    usecols = ['last_update','player_name','current_pos','top_10']

    df = pd.read_csv(r"https://feeds.datagolf.com/preds/in-play?tour=pga&dead_heat=no&odds_format=percent&file_format=csv&key=e297e933c3ad47d71ec1626c299e",
                        usecols=usecols).convert_dtypes()

    df['last_update'] = pd.to_datetime(df['last_update'])
    df['updated'] = df['last_update'].astype(str).str[-8:-3]
    df.drop(columns='last_update', inplace=True)
    plays = round(df[df.player_name.isin(our_plays)],2)
    return plays

In [19]:
def get_our_plays(our_plays, url, columns):
    try:
        # Read CSV from URL, selecting specific columns
        df = pd.read_csv(url, usecols=columns).convert_dtypes()

        # Convert 'last_update' to datetime and extract time component
        df['updated'] = pd.to_datetime(df['last_update']).dt.strftime('%H:%M')

        # Drop 'last_update' column
        df.drop(columns='last_update', inplace=True)

        # Format 'top_10' column as percentage
        df['top_10'] = ((df['top_10'] * 100).round()).astype(int).astype(str) + '%'

        # Filter DataFrame based on 'our_plays'
        plays = df[df['player_name'].isin(our_plays)].round(2)
        return plays

    except Exception as e:
        print("An error occurred:", e)
        return None

# Example usage:
our_plays = ['Hodges, Lee','Kirk, Chris','Putnam, Andrew','Eckroat, Austin']  # Your list of player names
url = "https://feeds.datagolf.com/preds/in-play?tour=pga&dead_heat=no&odds_format=percent&file_format=csv&key=e297e933c3ad47d71ec1626c299e"
columns = ['last_update', 'player_name', 'current_pos', 'top_10']

table = get_our_plays(our_plays, url, columns)
if table is not None:
    print(table)

        player_name current_pos top_10 updated
11  Eckroat, Austin          T2    31%   13:55
30      Kirk, Chris         T15    18%   13:55
48   Putnam, Andrew         T22    10%   13:55
68      Hodges, Lee          62     0%   13:55

In [6]:
# user inputs list of players...
our_plays = ['Hodges, Lee','Kirk, Chris','Putnam, Andrew','Eckroat, Austin']


get_our_plays(our_plays)

        player_name current_pos  top_10 updated
10  Eckroat, Austin          T2    0.33   13:25
28      Kirk, Chris         T14    0.19   13:25
51   Putnam, Andrew         T35    0.08   13:25
67      Hodges, Lee          56     0.0   13:25